body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
}
header {
  background: #333;
  color: #fff;
  padding: 0;
  height: px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo{
  width: 15%;
  border-radius: 50%;
  padding-left: 10px;
}

.logo:hover {
  color: #00e6f6;
}

.navbar-nav .nav-item .nav-link {
  color: white;
}
.navbar-nav .nav-item {
  margin: 10px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  border: none;
  background: none;
  font-family: "Poppins", sans-serif;
}

.navbar-nav .nav-item::before {
  margin-left: auto;
}

.navbar-nav .nav-item::after,
.navbar-nav .nav-item::before {
  content: "";
  width: 0%;
  height: 2px;
  background: rgb(0, 140, 255);
  display: block;
  transition: 0.5s;
}

.navbar-nav .nav-item:hover::after,
.navbar-nav .nav-item:hover::before {
  width: 100%;
}

.menu-icon {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
}
.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.nav-links li {
  margin: 0 15px;
}
.nav-links li a {
  color: #fff;
  text-decoration: none;
}
/* From Uiverse.io by mrhyddenn */
.shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.shadow__btn {
  background: rgb(0, 140, 255);
  box-shadow: 0 0 25px rgb(0, 140, 255);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 25px rgb(0, 140, 255),
    0 0 50px rgb(0, 140, 255), 0 0 100px rgb(0, 140, 255);
}

/* #hero {
  justify-content: center;
  width: 40%;
  margin-top: 0;
  border: 1px solid black;
  text-align: center;
} */

.banner {
  display: flex;
  justify-content: center;
  
}

.slider {
  width: 50%;
}
footer {
  background: #333;
  color: #fff;
  padding: 10px 0;
  margin-top: 10em;
  text-align: center;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer ul a {
  display: inline;
  margin: 0 10px;
}
footer ul a li {
  color: #fff;
  text-decoration: none;
}
/* /* From Uiverse.io by namecho */
/* From Uiverse.io by VisithaGalabada */
footer ul li,
footer ul li::after {
  padding: 16px 20px;
  font-size: 18px;
  background: linear-gradient(45deg, transparent 5%, #000000 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 1;
  box-shadow: 6px 0px 0px #00ffb1;
  outline: transparent;
  position: relative;
}

footer ul li::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: "HOVER ME";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00ffb1 3%,
    #00ffb1 5%,
    #000000 5%
  );
  text-shadow: -3px -3px 0px #ff0000, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

footer ul li:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
footer ul li:hover {
  box-shadow: 15px #00ffb1;
}
